# Virtual environment
.venv/

# Python cache
__pycache__/
*.pyc

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment variables and secrets
.env
.env.*

# VS Code settings
.vscode/

# OS files
.DS_Store
Thumbs.db